#content{
	width:90%; margin:0 auto;
}
#content section{width:100%; position:relative;}
#content form div.info{
	width:100%; height:30px;
}
#content form div.info input{
	width:49%; border:2px solid #413a34; padding-left:10px;
	color:#848484; height:30px; box-sizing:border-box;
	border-radius:0; position:absolute;
}
#content form div.info input.name{left:0; top:0;}
#content form div.info input.pw{margin:0; right:0; top:0;}
#content form textarea{
	width:100%; height:300px;  margin:10px auto;
	border:2px solid #413a34; color:#000; padding:20px;
	box-sizing:border-box; border-radius:0; } 
#content form div.submit{width:100%; height:30px; position:relative;}
#content form div.submit button{
	position:absolute; left:0; top:0; width:49%; height:30px; 
	background:#fff url('../images/icon/write.png') 40px center no-repeat;
	background-size:15px 15px;
	color:#000;
	box-sizing:border-box; border:2px solid #413a34;
	font:normal 12px/26px 'NanumGothicBold';
}
#content form div.submit a{
	display:block; width:49%; height:30px; background:#fff; position:absolute; right:0; top:0;
	background:#fff;
	background-size:15px 15px;
	box-sizing:border-box; border:2px solid #413a34; border-radius:0; color:#000;
	font:normal 12px/26px 'NanumGothicBold'; text-align:center;
}